Flask
Flask-Cors
requests
beautifulsoup4
pandas
numpy
scikit-learn
yfinance
openai
lxml
schedule
selenium
webdriver-manager

mysql-connector-python
weasyprint
pykrx
tensorflow
torch
transformers
pandas_ta
